.container{
    display: flex;
    justify-content: space-between;

}
/* .ulDiv{
    list-style: none;
    display: flex;
    justify-content: space-between;

} */
ul{
   list-style-type:none; 
   display: flex;
   justify-content: space-between;
   gap: 10px;
}
