.cartPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cartProductContainer{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    gap: 20px;
}
.productCard{
    display: flex;
    gap: 10px;
}
.quantityUpdater {
    width: 20px;
}
.flexContainer{
    display: flex;
    align-items: center;
    gap: 20px;
 
    min-width: fit-content;
}
.timesContainer{
    min-width: fit-content;
}
.quantityUpdaterContainer{
    display: flex;
    gap: 2px;
    width: 2rem;
}
.quantityUpdaterContainer input{
    width: 20px;
}
.quantityUpdaterBtns, .removeFromCartBtn{
      background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px;
  
    cursor: pointer;
}
.quantityUpdaterBtns{
    padding: 5px 10px;
}
.quantityUpdaterBtns:hover{
   background-color: white;
    color: black; 
}